body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: black;
    color: white;
  }
  
  img {
    padding-left: 35%;
  }
  h2{
    color: purple;
  }
  .container {
    margin-top: 20px;
  }
  
  label {
    font-weight: bold;
  }
  
  input[type="text"],
  textarea {
    width: 100%;
    padding: 5px;
  }
  
  button {
    margin-top: 40px;
    padding: 5px 10px;
    background-color: darkslateblue;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: purple;
  }
  
  #resultado {
    display: none;
  }